.button {
    all: unset;
    background-color: #2c7cb0;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.button:hover,.button:focus {
    background-color: #2c91b0;
}
